<h3>Do not have an account?</h3>

<p><b>Please, @Html.ActionLink("Register", "Register", "Account") or @Html.ActionLink("Login", "Login", "Account")</b></p>
<hr />
<p>@Html.ActionLink("Check the weather", "Index", "OpenWeatherMap")</p>