@using (Html.BeginForm("Click", "OpenWeatherMap", FormMethod.Get))
{
    <p><b>Enter the town:</b></p>
    <input type="text" name="city" />
    <br />
    <input type="submit" value="See the weather" />
}

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>*@
